[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
dash = "==1.9.1"
dash-bootstrap-components = "*"
gunicorn = "*"
plotly = "*"
jupyter = "*"
ipykernel = "*"
pandas = "*"
sklearn = "*"
category-encoders = "==2.2.2"
joblib = "==1.0.0"
pdpbox = "*"
eli5 = "*"
shap = "*"
scikit-plot = "*"
scikit-learn = "==0.22.1"
seaborn = "*"

[requires]
python_version = "3.8"
